<div class="navbar">

    <div class="logo">
        Team Task Manager
    </div>

    <div class="nav-links">

        <a href="/dashboard">
            Dashboard
        </a>

        {% if session.get('role') == 'Admin' %}
        <a href="/create_project">
            Create Project
        </a>

        <a href="/create_task">
            Create Task
        </a>

        <a href="/manage_users">
            Manage Users
        </a>
        {% endif %}

        <a href="/logout">
            Logout
        </a>

    </div>

</div>

<style>

.navbar{
    background:#111;
    padding:20px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    box-shadow:0px 0px 15px #00ff99;
}

.logo{
    color:#00ff99;
    font-size:26px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    align-items:center;
}

.nav-links a{
    color:white;
    margin-left:25px;
    text-decoration:none;
    font-size:16px;
    transition:0.3s;
}

.nav-links a:hover{
    color:#ff66cc;
}

</style>